.flex-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    font-size: 25px;
    width: 100%;
    max-width: 900px;
    margin-bottom: 25px;
}

div#todo-parent {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    overflow-y: scroll;
    padding: 10px;
    border-radius: 5px;
}

.ui.inverted.top.fixed.menu {
    border: 3px solid #16deee;
}

div#root {
    height: 100%;
    overflow: hidden;
    background: black;
    border: 3px solid #16deee;
}

body {
    overflow: hidden;
}

.flex-column {
    display: flex;
    flex-direction: column;
    max-height: 60%;
    height: 100%;
    justify-content: flex-start;
    overflow-y: scroll;
}

.todo-taskadd {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    border: 3px solid #16deee;
    background: #000000;
    color: white;
    border-radius: 5px;
}

h3 {
    color: white;
}

h3#todo-task-title {
    color: white;
}

div#todo-greeting {
    font-weight: bold;
}

div#todo-totaltasks {
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    text-decoration: underline;
}

button.todo-button {
    border: 2px solid #16deee;
    background: black;
    color: white;
    height: 40px;
    width: calc(25% + 10px);
    border-radius: 10px;
    cursor: pointer;
}

form#todo-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
}

.ui.text.container {
    background: black;
    color: white;
    padding: 20px;
    border-radius: 5px;
    border: 3px solid #16deee;
    padding: 15px;
    height: 100%;
    display: flex;
    width: 100%;
    flex-direction: column;
}

div#todo-greeting {
    text-decoration: underline;
}

div#todo-tasklist {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: scroll;
    border: 2px solid #16deee;
    border-radius: 5px;
    padding: 20px;
    gap: 20px;
    height: 900px;
}

button#todo-edit {
    width: auto;
    height: auto;
    border: none;
}

div#todo-taskshow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h3#todo-task-title {
    width: 100px;
    font-size: 14px;
    text-wrap: nowrap;
}

button#todo-edit {
    width: auto;
    height: auto;
    border: none;
}

div#todo-taskshow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h3#todo-task-title {
    width: 100px;
    font-size: 14px;
    text-wrap: nowrap;
}

.ReactModal__Overlay.ReactModal__Overlay--after-open {
    background: black !IMPORTANT;
    display: flex !important;
    align-content: center;
    align-items: center !important;
    justify-content: center !important;
    flex-direction: column !important;
    width: 100% !IMPORTANT;
}

div#complete-confirm-modal {
    background: black !IMPORTANT;
    color: white !IMPORTANT;
    border: 3px solid #16deee !important;
    display: flex;
    width: 415px;
    height: 202px;
    position:  absolute !important;
    top: 40% !important;
    left: 37% !important;
}

div#todo-confirm-modal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
}

div#todo-modal-confirm {
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

div#todo-modal-confirm .todo-button {
    width: 100%;
}

form#todo-form-edit {
    display: flex;
    flex-direction: row;
    gap: 60px;
}

input.todo-input {
    background: black;
    border: 1px solid #16deee;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

input.todo-input::selection {
    background: #16deee;
}

input.todo-input {
    width: 80%;
    height: 40px;
}

label {
    font-weight: bold;
}

/* Widget CSS */
main#okta-sign-in {
    background: black !IMPORTANT;
    color: white !important;
}

h2.okta-form-title.o-form-head {
    color: white !IMPORTANT;
}

label {
    color:#16deee;
}

input#okta-signin-submit {
    background: black;
    color: white;
}

.o-form-button-bar {
    background: black;
}

input#okta-signin-submit {
    background: black !IMPORTANT;
    border: 3px solid #16deee !important;
    border-radius: 10px !Important;
}

main#okta-sign-in {
    border: 3px solid #16deee;
    border-radius: 10px;
}

main#okta-sign-in {
    border: 3px solid #16deee !important;
}

.okta-sign-in-header.auth-header {
    border-bottom: 3px solid #16deee !important;
}

input#okta-signin-username {
    background: black !IMPORTANT;
    border: 1px solid #16deee !important;
    color: white !IMPORTANT;
}

input#okta-signin-password {
    background: black !IMPORTANT;
    border: 1px solid #16deee !important;
    color: white !IMPORTANT;
}
a.link.help.js-help {
    color:  #16deee !important;
    text-decoration: underline !important;
}

input#input42 {
    background: black !IMPORTANT;
    color:  #16deee !important;
}

h2.okta-form-title.o-form-head {
    color:  #16deee !important;
    text-decoration: underline;
}